# Exercise 1: Storing study results in a dictionary

**Introduction:** You are conducting a study on multiple species and recording the number of individuals observed for each species. Use a dictionary to store the species as keys and the count of individuals as values.

**Task:**

1.   Create a dictionary with the following data: `{"Homo sapiens": 10, "Pan troglodytes": 5, "Mus musculus": 15}`.
2.   Write code to add a new species to the dictionary (`"Danio rerio": 8`).
3.   Print the total number of individuals observed across all species.

In [ ]:
# Your solution here

## Hint

Use `.values()` to get the values from the dictionary, then use `sum()` to get the total.

## Solution

In [ ]:
# Solution
species_counts = {"Homo sapiens": 10, "Pan troglodytes": 5, "Mus musculus": 15}

# Add new species
species_counts["Danio rerio"] = 8

# Calculate total number of individuals
total_individuals = sum(species_counts.values())

print("Total individuals observed:", total_individuals)

# Exercise 2: Removing duplicate DNA sequences using a set

**Introduction:** You are analyzing DNA sequences, and some sequences may be duplicated. Use a set to remove duplicates.

**Task:**

1.   Create a list of DNA sequences with some duplicates: `["ATCG", "GCTA", "ATCG", "CGTA", "GCTA"]`.
2.   Convert the list to a set to remove duplicates.
3.   Print the set of unique sequences.

In [ ]:
# Your solution here

## Hint


*   Sets automatically remove duplicates.
*   Use the `set()` function to convert the list to a set.

## Solution

In [ ]:
# Solution
dna_sequences = ["ATCG", "GCTA", "ATCG", "CGTA", "GCTA"]

# Convert to set to remove duplicates
unique_sequences = set(dna_sequences)

print("Unique DNA sequences:", unique_sequences)

# Exercise 3: Finding common species between two studies using sets

**Introduction:** Two different research teams observed species in the same habitat. Your task is to find out which species were observed by both teams.

Task:

1.   Create two sets of species observed by each research team:

  *   `team_1 = {"Homo sapiens", "Pan troglodytes", "Mus musculus"}`
  *   `team_2 = {"Pan troglodytes", "Drosophila melanogaster", "Mus musculus"}`

2.   Find and print the species common to both sets.

In [ ]:
# Your solution here

## Hint

Use the `.intersection()` method to find common elements between sets.

## Solution

In [ ]:
# Solution
team_1 = {"Homo sapiens", "Pan troglodytes", "Mus musculus"}
team_2 = {"Pan troglodytes", "Drosophila melanogaster", "Mus musculus"}

# Find common species
common_species = team_1.intersection(team_2)

print("Species common to both studies:", common_species)